h1{
	text-align: center;
	margin-bottom: 30px;
	font-size: 175%;
}

*{
	font-family: cursive;
	box-sizing: border-box;
}

p{
	margin-top: 20px;
}

section{
	padding: 2px;
}

	.in11{
		background-color: #ff9999;
		position: absolute;
		top: 0px;
		right: 0px;
		border: 1px solid black;
		border-top-width: 1px;
		border-right-width: 1px;
		width: 35%;
		color: black;
		font-weight: bold;
		text-align: center;
	}

	.in12{
		background-color: #cc3333;
		position: absolute;
		top: 0px;
		right: 0px;
		border: 1px solid black;
		border-top-width: 1px;
		border-right-width: 1px;
		width: 35%;
		color: white;
		font-weight: bold;
		text-align: center;
	}

	.in13{
		background-color: #ffcc00;
		position: absolute;
		top: 0px;
		right: 0px;
		border: 1px solid black;
		border-top-width: 1px;
		border-right-width: 1px;
		width: 35%;
		color: black;
		font-weight: bold;
		text-align: center;
	}

@media (min-width: 992px) {

	.in1{
		background-color: #989898;
		position: relative;
		float: left;
		color: black;
		width: 32%;
		border: 1px solid black;
		padding: 15px 15px 0px 15px;
		margin: 0.38% 0% 0.38% 0.76%;
	}

	.in2{
		background-color: #989898;
		position: relative;
		float: left;
		color: black;
		width: 32%;
		border: 1px solid black;
		padding: 15px 15px 0px 15px;
		margin: 0.38% 1.15% 0.38% 1.15%;
	}

	.in3{
		background-color: #989898;
		position: relative;
		float: left;
		color: black;
		width: 32%;
		border: 1px solid black;
		padding: 15px 15px 0px 15px;
		margin: 0.38% 0.76% 0.38% 0%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {

	.in1{
		background-color: #989898;
		position: relative;
		float: left;
		color: black;
		width: 48%;
		border: 1px solid black;
		padding: 15px 15px 0px 15px;
		margin: 0.38% 1.15% 1.15% 0.76%;
	}

	.in2{
		background-color: #989898;
		position: relative;
		float: left;
		color: black;
		width: 48%;
		border: 1px solid black;
		padding: 15px 15px 0px 15px;
		margin: 0.38% 1.15% 1.15% 0.76%;
	}

	.in3{
		background-color: #989898;
		position: relative;
		float: left;
		color: black;
		width: 98%;
		border: 1px solid black;
		padding: 15px 15px 0px 15px;
		margin: 0.38% 0.76% 1.15% 0.76%;
	}

	.in13{
		background-color: #ffcc00;
		position: absolute;
		top: 0px;
		right: 0px;
		border: 1px solid black;
		border-top-width: 1px;
		border-right-width: 1px;
		width: 17%;
		color: black;
		font-weight: bold;
		text-align: center;
	}
}

@media (max-width: 767px) {

	.in1{
		background-color: #989898;
		position: relative;
		float: left;
		color: black;
		width: 98%;
		border: 1px solid black;
		padding: 15px 15px 0px 15px;
		margin: 0.38% 0.76% 1.15% 0.76%;
	}

	.in2{
		background-color: #989898;
		position: relative;
		float: left;
		color: black;
		width: 98%;
		border: 1px solid black;
		padding: 15px 15px 0px 15px;
		margin: 1.15% 0.76% 1.15% 0.76%;
	}

	.in3{
		background-color: #989898;
		position: relative;
		float: left;
		color: black;
		width: 98%;
		border: 1px solid black;
		padding: 15px 15px 0px 15px;
		margin: 1.15% 0.76% 1.15% 0.76%;
	}

	.in11{
		background-color: #ff9999;
		position: absolute;
		top: 0px;
		right: 0px;
		border: 1px solid black;
		border-top-width: 1px;
		border-right-width: 1px;
		width: 17%;
		color: black;
		font-weight: bold;
		text-align: center;
	}

	.in12{
		background-color: #cc3333;
		position: absolute;
		top: 0px;
		right: 0px;
		border: 1px solid black;
		border-top-width: 1px;
		border-right-width: 1px;
		width: 17%;
		color: black;
		font-weight: bold;
		text-align: center;
	}

	.in13{
		background-color: #ffcc00;
		position: absolute;
		top: 0px;
		right: 0px;
		border: 1px solid black;
		border-top-width: 1px;
		border-right-width: 1px;
		width: 17%;
		color: black;
		font-weight: bold;
		text-align: center;
	}
}